<div class="member-request-container">
<h1> Member Request Form </h1>

<p> 
    SMCC is a private group run by the students of the class.<br>
    If you were in this SMCC Cohort please fill this application out.<br>
    The current admin of the website is <strong>Ken Leung. </strong> <br>
    Once a request has been verified, you will be notified. <br>
</p>
<p> 
    If you have any questions please visit the <%= link_to "Contact", root_path%> page.
</p>

<div class="request-form">
    <%= form_with model:@member_request, url: create_request_path, method: :post do |form| %>
        <div class="name-wrapper">
            <%= form.text_field :first_name, placeholder: "First name", required: true, id:"name-input"%>
            <%= form.text_field :last_name, placeholder: "Last name", required: true, id:"name-input"%>
        </div>
        <%= form.email_field :email, placeholder: "Email", required: true%><br>
        <%= form.text_field :phone, placeholder: "Phone", required: true%><br>
        <%= form.text_field :year_graduated, placeholder: "Graduation Year", required: true%><br>
        <%= form.text_field :country, placeholder: "Country", required: true%><br>
        <%= form.text_field :address, placeholder: "Address", required: true%><br>
        <%= form.text_field :password_pref, placeholder: "Preferred Password", required: true%><br>
        <%= form.submit "Request", id:"request-submit-btn"%>
    <% end %>
</div>