<div class="member-area-container">
    <h1> Members Area </h1>

    <div class="post-input-box">
        <%= form_with model:@member_post, url: create_member_post_path, method: :post do |form| %>
            <%= form.text_field :message, placeholder: "Post a message", id:"post-message-input"%>
            <%= form.submit "Post", id:"message-post-btn"%>
        <% end %>
    </div>

    <div class="post-board">
        <% for post in @posts %>
            <p>
                <%= post.poster.name %>
                <%= post.message %>
            </p>
        <% end %>
    </div>

    <div class= "member-list">
        <h3> Member List</h3>
        <% for user in @members %>
            <div class="member-card">
                <%= image_tag "default-dp.png", id:"user_picture"%>
                <div>
                    <span><%= user.name %><span><br>
                    <span><%= user.email %></span><br>
                    <span><%= user.country %></span>
                </div>
            </div>
        <% end %>
    </div>
</div>

<script>
    let messageInput = document.getElementById("post-message-input");
    let postButton = document.getElementById("message-post-btn");
    messageInput.addEventListener("input", () => {
        if (messageInput.value.length > 0) {
            postButton.style.opacity = "100%";
        }
    })
    messageInput.addEventListener("keyup", () => {
        if (messageInput.value.length <= 0 ) {
            postButton.style.opacity = "70%";
        }
    })
    
</script>