<div class="admin-container">
	<% if current_user.admin %>

		<div class="page-messages-wrapper">
			<h3> Member Applications</h3>
			<table class="request-table">
				<tr>
					<td> First name </td>
					<td> Last name </td>
					<td> Email </td>
					<td> Year grad </td>
					<td> Country </td>
					<td> Phone </td>
					<td> Address </td>
					<td> Password pref </td>
					<td> </td>
				</tr>
				<% if @requests.length > 0 %>
					<% for request in @requests%>
						<tr>
							<td> <%= request.first_name %> </td>
							<td> <%= request.last_name %> </td>
							<td> <%= request.email %> </td>
							<td> <%= request.year_graduated %> </td>
							<td> <%= request.country %> </td>
							<td> <%= number_to_phone request.phone.to_i %> </td>
							<td> <%= request.address %> </td>
							<td> <%= request.password_pref %> </td>
							<td> 
								<button type="button" class="btn btn-success" data-toggle="modal" data-target="#approveModal<%=request.id%>">
								approve
								</button> 
								<%= link_to "decline", decline_request_path(request.id), method: :delete, class:"btn btn-danger" %>
							</td>
						</tr>
					<% end %>
					<div class="modal fade" id="approveModal<%=request.id%>" tabindex="-1" role="dialog" aria-labelledby="approveModal<%=request.id%>Label" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Approval for <%= "#{request.first_name} #{request.last_name}"%></h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body" id="user-approval-form">
									<%= form_with model:@user, url: approve_request_path(request.id), method: :post do |form| %>
										<%= form.hidden_field :admin, value: false %>
										<%= form.label :first_name, "First Name" %>
										<%= form.text_field :first_name, value: request.first_name%><br/>
										<%= form.label :last_name, "Last Name" %>
										<%= form.text_field :last_name, value: request.last_name%><br/>
										<%= form.label :email, "Email" %>
										<%= form.text_field :email, value: request.email%><br/>
										<%= form.label :year_grad, "Year Graduated" %>
										<%= form.text_field :year_grad, value: request.year_graduated%><br/>
										<%= form.label :phone, "Phone" %>
										<%= form.text_field :phone, value: request.phone%><br/>
										<%= form.label :address, "Address" %>
										<%= form.text_field :address, value: request.address%><br/>
										<%= form.label :password, "Enter preferred password" %>
										<%= form.password_field :password %><br/>
										<%= form.submit "approve"%>
									<% end %>
								</div>
							</div>
						</div>
					</div>  
				<% else %>
					<tr>
						<td> No Pending Applications </td>
					</tr>
				<% end %>
			</table>
		</div>
		<div class="page-info-wrapper">
			<h3 class="page-details-title"> Home Page Info-Sections </h3>
			<div class="page-section">
				<% if params[:edit] == "about" %>
					<%= form_with model: @section, url: update_section_path, method: :patch do |form| %>
						<%= tinymce %>
						<%= form.hidden_field :id, value: @section1.id %> 
						<h5> <%= form.text_field :title, value: @section1.title %> </h5>
						<p> <%= form.text_area :content, value: @section1.content.html_safe, :class => "tinymce", :rows => 10 %><p>
						<%= form.submit "Save", class: "btn btn-success" %>
					<% end %>
				<% else %>
					<h5> <%= @section1.title%> | <%= link_to "Edit", admin_path(:edit => "about") %> </h5> 
					<%= @section1.content.html_safe%>
				<% end %>
			</div>

			<div class="page-section">
				<% if params[:edit] == "purpose" %>
					<%= form_with model: @section, url: update_section_path, method: :patch do |form| %>
						<%= tinymce %>
						<%= form.hidden_field :id, value: @section2.id %> 
						<h5> <%= form.text_field :title, value: @section2.title %> </h5>
						<p> <%= form.text_area :content, value: @section2.content.html_safe, :class => "tinymce" , :rows => 20, :cols => 120 %><p>
						<%= form.submit "Save", class: "btn btn-success" %>
					<% end %>
				<% else%>
					<h5> <%= @section2.title %> | <%= link_to "Edit", admin_path(:edit => "purpose") %></h5>
					<p> <%= @section2.content.html_safe  %> </p>
				<% end %>
			</div>
		</div>
		<div class="album-title-section">
			<h3> Albums </h3>
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
			Create Album
			</button>
		</div>
		<div class="album-list">
			<% for album in @albums %>
				<%= link_to album_path(album.id) do %>
					<div class="card">
						<%= image_tag album.photos.length > 0 ? album.photos[0].image : "school-logo.jpg" , class:"card-img-top"%>
						<div class="card-body">
							<p class="card-text"><strong><%= album.title%></strong></p>
							<p class="card-text"><%= album.description%></p>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">New Album</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="add-album-form">
						<%= form_with model:@album, url: create_album_path, method: :post do |form|%>
							<%= form.label :title, "Title"%><br/>
							<%= form.text_field :title, placeholder: "Enter album title"%><br/><br/>
							<%= form.label :description, "Description"%><br/>
							<%= form.text_area :description, placeholder: "Enter Description"%><br/>
							<%= form.submit "Create", class:"save-btn" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% else %>
		<div class="error-access-denied">
			<p id="error-title"> Error: Access Denied </p>
			<p id="error-message"> Sorry you have no access to this area </p>
		</div>
	<% end %>
</div>