<div class="login-container">

  <%= image_tag "school-logo.jpg" %>

  <div class="login-input-box">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", id:"entry-fields" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", id:"entry-fields"  %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", id:"login-btn" %>
      </div>
    <% end %>

  </div>

</div>
