
<div class="account-container">

    <div>

        <div class="image-box">
        <h4> Account Details </h4>
            <span id="user-detail"> <%= image_tag @user.get_avatar %> </span><br>
            <span><%= link_to "Add Photo", root_path, "data-toggle" => "modal", "data-target" => "#uploadPhotoModal", id:"upload-photo-btn" %> <span>
            <div class="modal fade" id="uploadPhotoModal" tabindex="-1" role="dialog" aria-labelledby="uploadPhotoModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="uploadPhotoModal">Upload Photo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body" id="add-photo-form">
                        <%= form_with model:@user, url: upload_avatar_path(current_user), method: :patch do |form|%>
                            <%= form.file_field :image, accept: 'image/png,image/gif,image/jpeg,image/jpg', onchange: "readURL(this)" %><br/><br/>
                            <%= form.submit "Upload", class:"save-btn" %>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-details">

        <% if params[:option] == "edit" %>
            <%= form_with mode:@user, url: edit_user_path(current_user), method: :patch do |form| %>
                <div class="details-item">
                    <span id="details-title"> Name </span><br/>
                    <%= form.text_field :first_name, value: @user.first_name, id:"name-input"%>
                    <%= form.text_field :last_name, value: @user.last_name, id:"name-input"%>
                    <hr>
                </div>

                <div class="details-item">
                    <span id="details-title"> email </span><br/>
                    <%= form.text_field :email, value: @user.email, id:"user-detail"%>
                    <hr>
                </div>

                <div class="details-item">
                    <span id="details-title"> phone </span><br/>
                    <%= form.text_field :phone, value: @user.phone, id:"user-detail"%>
                    <hr>
                </div>

                <div class="details-item">
                    <span id="details-title"> Graduation Year </span><br/>
                    <%= form.text_field :year_grad, value: @user.year_grad, id:"user-detail"%>
                    <hr>
                </div>

                <div class="details-item">
                    <span id="details-title"> Country </span><br/>
                    <%= form.text_field :country, value: @user.country, id:"user-detail"%>
                    <hr>
                </div>

                <div class="details-item">
                    <span id="details-title"> Address </span><br/>
                    <%= form.text_field :address, value: @user.address, id:"user-detail"%>
                    <hr>
                </div>

                <%= form.submit "Save" %>
            <% end %>
        
        <% else %>

            <div class="details-item">
                <span id="details-title"> Name </span><br/>
                <span id="user-detail"> <%= @user.name %> </span>
                <hr>
            </div>

            <div class="details-item">
                <span id="details-title"> email </span><br/>
                <span id="user-detail"> <%= @user.email %> </span>
                <hr>
            </div>

            <div class="details-item">
                <span id="details-title"> phone </span><br/>
                <span id="user-detail"> <%= @user.phone %> </span>
                <hr>
            </div>

            <div class="details-item">
                <span id="details-title"> Graduation Year </span><br/>
                <span id="user-detail"> <%= @user.year_grad %> </span>
                <hr>
            </div>

            <div class="details-item">
                <span id="details-title"> Country </span><br/>
                <span id="user-detail"> <%= @user.country %> </span>
                <hr>
            </div>

            <div class="details-item">
                <span id="details-title"> Address </span><br/>
                <span id="user-detail"> <%= @user.address %> </span>
                <hr>
            </div>
            
            <%= link_to "Edit", user_path(current_user, :option => "edit")%>

        <% end %>

    </div>


</div>