<div class="member-request-container">
    <h1> Contact Us </h1>

    <p id="contact-prompt"> 
        Send us through a message if you would like to ask any questions!
    </p>

    <div class="request-form">
        <div class="contact-form">
            <%= form_with model:@contact_request, url: root_path, method: :post do |form| %>
                <%= form.text_field :name, placeholder: "Name", required: true%><br>
                <%= form.email_field :email, placeholder: "Email", required: true%><br>
                <%= form.text_field :phone, placeholder: "Phone", required: true%><br>
                <%= form.text_area :message, placeholder: "What would you like to ask?", required: true%><br>
                <%= form.submit "Send", id:"request-submit-btn"%>
            <% end %>
        </div>
    </div>
</div>