<!DOCTYPE html>
<html>
	<head>
		<title>Smcc</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script src="https://kit.fontawesome.com/9828386ba7.js" crossorigin="anonymous"></script>
		
	</head>

	<body>
		<%= render "shared/topnav"%>
	
		<div class="container">
			<%= yield %>
		</div>
	</body> 

</html>
